body{
    margin:0px;
    background-color:#FFB5C2;

}

#partype{
    margin-bottom: 5px;
    width: 200px;
}

#sock{
    text-decoration: overline;
}

span{
    text-decoration: underline;
}

#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2900px;
    height: 700px;
    margin-top: 30px;
}

h1{
    font-size: medium;
}


p {
    
    font-size: 30px;
    text-align: center;
    color: #EB5E55;
    
}

@media(max-width: 3100px) {
    #banner{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:75%;
        height:auto;
        align-items: center;
    }
}
.startBtn{
    font-size: medium;
    width: 25%;   
    text-align: center;
}
}
@media (max-width: 3100px){
    #banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
        height: auto;
        align-items: center;
    }
}
#banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: auto;
    margin-top: 30px;
}
p {
    font-size: 30px;
    text-align: center;
    color: rgb(235, 94, 85);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#sock {
    text-decoration: overline;
}
span {
    text-decoration: underline;
}
.startBtn {
/* >>>>>>> d2778623ef74de098547a1889145f407ead4fac2 */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    border-radius: 30px;
    border-style: groove;
    border-color: #3A506B;
    background-color: #D9D0DE;
    font-size: 16x;
    padding: 3px;
    padding-left:5px;
    padding-right:5px;
}

.startBtn:hover{
    background-color: #44355B;
    color: white;
    border-color: #95190C ;
    cursor:pointer;

    transition: ease-in;
    transition-duration: 0.5s;
}

.nav {
    background-color: hotpink;
    overflow: hidden;
}

.nav a {
    float: left;
    color: honeydew;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav a:hover {
    background-color: teal;
    color: thistle;
    transition: ease-in;
    transition-duration: 0.5s;
}

#wed {
    width: 600px;
}

#tea {
    width: 600px;
    
}

#cake {
    width: 600px;
}

#dance {
    width:600px;
    height:400px
}

.return{
    border: white solid;
    border-radius: 10px;
    border-style: groove;
    background: hotpink;
}

#glass {
    width: 400px;
}

#aisle {
    width: 400px;
}

#sign {
    width: 400px;
} 

#sub {
    font-size: x-large;
}

#fun {
    align-items: center;
}